/*
nav.logo{
  display: inline;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);
}
nav.social {
  display: inline;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);

}
nav.contact {
  display: inline;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);
}


div.float-right {
  float:right;
  display: inline-block;
  width: calc(100% / 2);
  margin: 5% 0;
  margin-left: calc((100% / 2) / 2);

}
div.float-left {
  float:left;
  display: inline-block;
  width: calc(100% / 2);
  margin: 5% 0;
  margin-left: calc((100% / 2) / 2);
  }*/
